<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <center>
    <h1>Generic url navigation-1</h1>
    <h2>Give only UrlName</h2>
    <div><a href="{% url 'gen_html2' %}">RESPONSE TO GEN_HTML2</a></div></br>
    <div><a href="{% url 'specific:spc_html3' %}">RESPONSE TO SPC_HTML3</a></div></br>
    <a href="{% url 'specific:spc_html4'%}">RESPONSE TO SPC_HTML4</a>

  </center>
</body>
</html>